<div class="my-5">
  <h2>Related Products</h2>
  <div class="row">
    <% snack.related_products.each do |related_snack| %>

      <div class="col-3">
        <%#= cl_image_tag related_snack.photo.key if related_snack.photo.key? %>
        <%= image_tag related_snack.image_url, width: "100%" %>
        <%= related_snack.name %>
      </div>

    <% end %>

  </div>
</div>
