<div class="container mt-2">
  <div>
    <%= image_tag @snack.image_url, alt: @snack.name, height: 300, width: 300 , class: "rounded mx-auto d-block" %>
  </div>

  <div class="row">
    <div class="col-9">
      <div>
        <img src="https://sl3-cdn.karousell.com/components/ap_certified_logo.svg", class='mb-2'>
        <h1>
          <%= @snack.name %>
        </h1>
        <p>
          S$ <%= @snack.price %>
        </p>

      </div>
      <div>
        <h2>Details</h2>
      </div>
      <div>
        <h2>Description</h2>
        <p><%= @snack.description %></p>
      </div>
    </div>

    <div class="col-3">
      <div class='card'>
        <button type="button" class="btn btn-light">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
